<mat-grid-list class="footer-container" cols="24" rowHeight="2.5rem">
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../assets/footer.png" alt="" class="img-footer">
  </mat-grid-tile>
</mat-grid-list>